<section id="section_2">
    <h2 class="titel-line">Top 6 documents</h2>

    <div class="container" id="how-does-it-work-container">
        <div class="row">
            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

            <div class="col-md-4 bloc">
                <a href="#" class="top-documents">
                    <div class="row bloc_1 img">
                        <img src="../../../../content/images/Top-document-bg.png" alt="top-document">
                    </div>
                    <div class="row bloc_1">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </div>
                    <div class="row bloc_1">
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</h6>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
