.bg_yellow {
  color: #212529;
  background-color: #ff9800;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 86%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.bg_green {
  color: #fff;
  background-color: #009688;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 86%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.bg_red {
  color: #fff;
  background-color: #f44336;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 86%;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.vl {
  border-left: 1px solid #3b424d;
  height: 500px;
}
